* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
} */

/* .grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
} */

/* .grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
} */

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    /* grid-template-rows: 2fr 1fr 3fr; */

    /* grid-template-rows: repeat(3, 5fr 2fr); */
    gap: 30px;
}

.grid div {
    background: purple;
    min-height: 100px;
}

/* .grid div:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 4;
} */

/* .grid div:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 4;
} */

/* .grid div:nth-child(7) {
    background: yellow;
    grid-row: span 1;
    grid-column: span 2;
} */

/* .grid div:nth-child(7) {
    background: yellow;
    grid-column: span 2 / span 2;
    grid-row: 1 / 4;
} */

/* .grid div:nth-child(7) {
    background: yellow;
    grid-area: 1 / 1 / 4 / 3;
} */